<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="X-XSS-Protection" value="1; mode=block"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ShareLocationPassword" value="MKjuOI9MZWxxD/StmFdCWqOCX+bngatC"/>
    <!--ww2dgMrAtt+45ywnkWtrk80b1pQ9Nb9Q-->
    <add key="ShareLocationDomain" value="KGACHQ"/>
    <add key="ShareLocationUserName" value="SVC_CSMaqasaDocnew"/>
    <add key="ShareFolderPath" value="\\10.10.65.3\maqasashare_test"/>
    <add key="ShareFolderLIMS" value="\\10.10.65.3\maqasashare_test"/>
    <add key="SRDocumentsShareFolderPath" value="\\10.10.65.3\maqasashare_test"/>
    <!--<add key="ShareFolderPath" value="Z:\Uploaded Documents" />-->
    <add key="NumberOfRequiredDocuments" value="5"/>
    <add key="ORDocumentsShareFolderPath" value="\\10.10.65.3\maqasashare_test"/>
    <!--   <add key="ShareLocationPassword" value="P@ssw0rd" />
     <add key="ShareLocationDomain" value="10.138.74.233" />
        <add key="ShareLocationUserName" value="maqasa1" />
      <add key="ShareFolderPath" value="c:\DocumentManagementServices\UploadFiles" />-->
    <add key="TimeSpanInSeconds" value="15"/>
    <add key="DocManagementSecurityKey" value="$1!b@3#d$e%0$1!2"/>
    <add key="OthersTypeValue" value="332293736"/>
    <!--select Typeid from types where name='Others' and description='Others' and TypeTypeId = (select Typeid from types where name='CRFDocumentTypes' and description='CRFDocumentTypes')-->
    <add key="CRFTypeTypeId" value="332293732"/>
    <!--select Typeid from types where name='CRFDocumentTypes' and description='CRFDocumentTypes'-->
    <add key="MaqasaDocuments_ShareFolderPath" value="\\10.10.65.3\kgac_upload_dd_test"/>
    <!-- <add key="MaqasaDocuments_ShareFolderPath" value="\\10.10.65.3\maqasashare_test"/>-->
    <add key="OrganizationRequests_ShareFolderPath" value="\\10.10.65.3\etrade_sharetest"/>
    <add key="Declarations_ShareFolderPath" value="\\10.10.65.3\kgac_upload_dd_test"/>
    <add key="CRFDetails_ShareFolderPath" value="\\10.10.65.3\maqasashare_test"/>
    <add key="KGACLIMSRequests_ShareFolderPath" value="\\10.10.65.3\csf5sec_share"/>
    <add key="UploadServer" value="SE 04"/>
    <add key="checkSSLEnabled" value="true"/>
  </appSettings>
  <connectionStrings>
     <add name="SQLConnectionString" connectionString="Data Source=10.10.27.201;user id=mcweb;password=mcweb;initial catalog=MicroclearLight_Aug18;Connect Timeout=1200" providerName="System.Data.SqlClient"/>
 
  </connectionStrings>
  <!--
  
  
  <add name="SQLConnectionString" connectionString="Data Source=cscoredb;user id=mcweb;password=mC8ml@Core8b;initial catalog=Microclearkw_p3pro;Connect Timeout=1200" providerName="System.Data.SqlClient"/>
  <add name="SQLConnectionString" connectionString="Data Source=10.10.27.201;user id=mcweb;password=mcweb;initial catalog=MicroclearkwFull_Jan18;Connect Timeout=1200" providerName="System.Data.SqlClient"/>
 
      <add name="SQLConnectionString" connectionString="Data Source=10.10.27.201;user id=mcweb;password=mcweb;initial catalog=Microclearkw_Apr2018;Connect Timeout=1200" providerName="System.Data.SqlClient"/>
 
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />

      <error redirect="DocumentError.aspx" statusCode="302"/>
     <httpRuntime enableVersionHeader="false" />
      </system.Web>
  -->
  <system.web>
    <customErrors defaultRedirect="DocumentError.aspx" mode="RemoteOnly">
      <error redirect="DocumentError.aspx" statusCode="500"/>
      <error redirect="DocumentError.aspx" statusCode="400"/>
      <error redirect="DocumentError.aspx" statusCode="404"/>
      <error redirect="DocumentError.aspx" statusCode="403"/>
    </customErrors>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime  executionTimeout="9999" maxRequestLength="40097151" enableVersionHeader="false"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Content-Security-Policy" value="default-src 'self'"/>
        <add name="Referrer-Policy" value="no-referrer"/>
        <add name="X-Permitted-Cross-Domain-Policies" value="none"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <remove name="X-Powered-By"/>
        <remove name="Server"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: BAEC0473-6350-4F35-81B1-6CC4ABB5AEA9-->