.templatetables 
{	
	border-bottom: 1px solid #FE6A02;
	border-right: 1px solid #FE6A02;
	border-left: 1px solid #FE6A02;
	border-top:1px solid #FE6A02;
}
.mcbutton {
    margin: 0 10px 0 0;
    font-family: verdana,sans-serif;
    font-size: 12px;
    background: #BB6220;
    border-bottom: 1px solid #104A7B;
    border-right: 1px solid #104A7B;
    border-left: 1px solid #AFC4D5;
    border-top: 1px solid #AFC4D5;
    color: white;
    height: 19px;
    text-decoration: none;
    cursor: hand;
} 
.form_field_label
{
	PADDING-LEFT: 5px;
    COLOR: black;
	FONT: bold 7.5pt/20px verdana;
	BACKGROUND-COLOR: #ffffff;
}
.SubTitleHeader {
	FONT-FAMILY: Tahoma, Arial,Verdana, Arial; 
	FONT: bold 8pt/20px;
	COLOR: black;	
	/*BACKGROUND-COLOR: #FF7D1B;*/
	/*filter: progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=20, Style=1, StartX=100,  FinishX=100, StartY=40, FinishY=0);*/
	
	/*background-image:url(/MicroClearKuwait/Client/Themes/Blue/Images/orange_body_middle_row_bg.GIF);	
	background-repeat:repeat;*/
}
.TitleHeader
{
	border-bottom:solid 5px #FE6A02;
}
.DataGridAlternate_Row {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #f6f7f8
}
.DataGridItem_Row {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #FDEDC3
}

.DataGridItem_Row_Selected {
	FONT-WEIGHT: normal; /*FONT-SIZE: 11px;*/ COLOR: black; FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #E1ECFC
}

.DataGridItem_Row_Highlited {
	FONT-WEIGHT: normal; /*FONT-SIZE: 11px;*/ COLOR: black; FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #fff7e5
}
.div5
{
	background:url(../Images/Orange/clip_middle.png); height:24px; text-align:left;FONT-FAMILY: Arial,Verdana, Helvetica, sans-serif;FONT-WEIGHT:BOLD;font-size: 12px;
}
.div6 tr:hover
{
	background-color: #F3B359;
}
.div11
{
  border:0px; background:url(../Images/Orange/clip_payment_LTR.png) repeat-x; height:24px; width:8px;
}
.div12
{
	HEIGHT: 24px; background-position:center bottom; background-repeat:repeat-x; BACKGROUND-IMAGE: url(../Images/Orange/clip_middle.png);
}
.div13
{
	border:0; 
	background:url(../images/Orange/curve_SectionHeading_LTR.png) repeat-x; height:24px; width:35px;
}