
@using System

@{
    ViewBag.Title = "Commercial";
}


<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>

@*<script src="~/Scripts/jquery.dataTables.js"></script>*@



<script src="~/Scripts/DocumentsData.js"></script>
<script type="text/javascript">
    {
        var doc = documentsdata;
        $(document).ready(function () {

            {
                var dataset = [
                    ["", "11", "10111"],
                    ["", "22", "10111"],
                    ["", "33", "10111"],
                    ["", "44", "10111"]

                ];
                var table = $('#ItemTables').DataTable({
                    "processing": true,
                    "data": dataset,
                    "columns": [
                        { "data": function () { return "<input type='checkbox'/>" } },
                        { "title": "ItemId" },
                        { "title": "HSCODE" },
                    ]
                });









                //  $('#DocumentsTable').DataTable({
                //    "processing": true,
                //    "data": doc,
                //    "columns": [
                //        { "title": function () { return "<input type='checkbox'/>" } },
                //        { "title": "DocID" },
                //        { "title": "DocName" },
                //        { "title": "CreatedDate" },
                //    ]
                //});



                //  return false;

                //  }
            }
        });


        $("#headercheck").click(function () {

            $(".deleteselctedcheckbox:visible").prop('checked', $(this).prop('checked'));


        });




    }

</script>



@if (ViewBag.languageculture == "eng")

{

    <link href="~/Content/@ViewBag.ThemeId" rel="stylesheet" />

}
else
{
    <link href="~/Content/@ViewBag.ThemeId" rel="stylesheet" />
}


@using (Html.BeginForm("CommercialInvoiceItems", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    {


      <div>


          @*<input type="button" onclick="documentslist()" value="Data" />
          <div id="DocumentsData"></div>*@

          <table id="DocumentsTable"  style="width: 50%;"class="table">
              <thead>
                 <tr>

                     <th><input type="checkbox" id="headercheck" /></th>
                     <th>
                         Docid
                     </th>

                     <th>
                         DocName
                     </th>

                     <th>
                         CreatedDate 
                     </th>
                 </tr>

              </thead>
              <tfoot>

                  <tr>

                      <th><input type="checkbox" id="headercheck" /></th>
                      <th>
                          Docid
                      </th>

                      <th>
                          DocName
                      </th>

                      <th>
                          CreatedDate
                      </th>
                  </tr>
              </tfoot>

          </table>


          <table id="ItemTables" style="width: 50%;" class="table">
              <thead>
                  <tr>

                      <th><input type="checkbox" id="headercheck" /></th>
                      <th>
                          ItemID
                      </th>

                      <th>
                          Hscode
                      </th>

                     
                  </tr>

              </thead>
              <tfoot>

                  <tr>

                      <th><input type="checkbox" id="headercheck" /></th>
                      <th>
                          Docid
                      </th>

                      <th>
                          DocName
                      </th>

                      <th>
                          CreatedDate
                      </th>
                  </tr>
              </tfoot>

          </table>


      </div>

    }
}



